* {
  margin: 0;
  padding: 0;
}
.suitableList {
  /* border: 1px solid red; */
  /* border-radius: 5px; */
  margin: 3px;
  width: 400px;
}
.suitableList > dt {
  background-color: #2f3e55;
  color: rgb(230, 230, 230);
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
  font-weight: bold;
}
.suitableList > dt {
  cursor: pointer;
}
.suitableList > dd {
  background-color: #f2bc14;
  height: 150px;
  padding-left: 5px;
  text-indent: 2em;
  overflow: hidden;
  cursor: default;
}
.suitableListFirst {
  border-radius: 8px 8px 0 0;
}
.suitableListLast {
  border-radius: 0 0 8px 8px;
}
